@media screen and (max-width: 480px){
    .content-section{
        width: 343px;
        flex-direction: column;
        gap:32px;
        padding: 32px 16px;
    }
    .tablet-container{
        width: 100%;
        flex-direction: column;
        gap:32px;
    }
    .content-card p{
        width: 343px;
    }
}
