label{
    display: block;
    margin-top: 10px;
}
form sup{
    color: red;
}
textarea{
    resize: none;
    width: 100px;
}
.form-registration{
    border: 3px solid blueviolet;
    width: 30%;
    border-radius: 20px;
    padding: 50px;
}
input[type=text]{
    background: #22C1C3;
    border: 2px solid lightgreen;
    border-radius: 2px;
    color: #441818;
    font-family: "Orbitron", sans-serif;
}
input[type=text]::placeholder{
    color: #173f34;
}
input[type=text]:focus{
    outline: 2px solid lightseagreen;
}
