.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card{
    width: 200px;
    height: 200px;
}
.blue{
    background: blue;
}
.green{
    background: green;
    order: -1;
}
.yellow{
    background: yellow;
    order: 1;
}
.pink{
    background: pink;
    order: 2;
}
.orange{
    background: orange;
    order: -2;
}
