/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
.grid-container{
    display: grid;
    height: 400px;
    background-color: #8E88C1;
    border:1px solid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.item{
    background-color: #234e7c;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
